header {
    text-align: center;
}

.soc_icon {
    width: 50px;
    margin-left: 5px;
}

.pic {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-right: 20px;
}


video {
    width: 10%;
    height: 10%;
}
