{%- assign path = include.path -%}

<div class="container">
  <div class="container iframe-with-spinner">
    <svg id="spinner" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    <iframe 
    sandbox="allow-scripts"
    id="iframe"
    src="{{ include.src }}" 
    height="{{ include.height | default: 1200}}"
    width="{{ include.width | default: "100%"}}" 
    allow="{{ include.allow }}" 
    frameborder="0" 
    hidden
    style="{{ include.style }}"></iframe>
  </div>
</div>
