<div class="container">
  <div class="row">
    <h2 class="">Experience</h2>
  </div>
    {% for skill in site.skills limit: 6 %}
      <div class="row">
        {%   assign today = site.time | date: '%s'      %}
        {%   assign start = skill.date | date: '%s'  %}
        {%   assign secondsSince = today | minus: start     %}
        {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
        {%   assign daysSince = hoursSince | divided_by: 24  %}
        {%   assign monthsSince = daysSince | divided_by: 31  %}
        {%   assign yearsSince = daysSince | divided_by: 365  %}
        <div class="col">
          <a class="btn btn-outline-secondary skill-bubble" href="{{ skill.url | relative_url }}">{{ skill.name }} : <span class="">{{ yearsSince }} year{% if yearsSince > 1 %}s{% endif %}</span>
          </a>
        </div>
      </div>
    {%- endfor %}
</div>