---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            <!-- about -->
           {% if site.title == "blank" -%} <span class="font-weight-bold">TornikeO</span>{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
            <picture>
              <source media="(max-width: 480px)" srcset="assets/img/variants/profile-mobile.jpg">
              <source media="(max-width: 768px)" srcset="assets/img/variants/profile-tablet.jpg">
              <source media="(max-width: 1024px)" srcset="assets/img/variants/profile-small.jpg">
              <img src="assets/img/profile.jpg" alt="Profile" loading="lazy">
            </picture>
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
            <div class="social">
              {% include social.html %}

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
